.coding {
  min-height: 1000px;
  width: 98%;
  margin-left: 1%;
  font-size: 20px;
}

.codeText {
  height: 800px;
  width: 500px;
  background-color: rgba(104, 104, 104, 0.11);
  border-radius: 10px;
  margin: 50px 100px;
  float: left;
  & p{
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 15px;
  }
}

.codeProjectContainer {
  height: 800px;
  width: 500px;
  border: solid 3px blue;
  border-radius: 50px;
  margin: 50px 100px;
  display: inline-block;
  vertical-align: left;
}

.codeProjectImg {
  width: 400px;
}

.codeProjectTitle {
  font-size: 25px;
  font-weight: 700;
}

.codeProjectDescription {
  height: 150px;
  margin: 10px 20px;
}

.codeProjectFeatures {
  height: 250px;
  margin: 10px 20px;
}

.codeProjectGitLink {
 text-align: left;
 margin-left: 30px;
}