.navigator {
  width: 160px;
  position: fixed;
  background-color: rgba(172, 172, 172, 0.205);
  right: 12px;
  margin: 10px;
  text-align: left;
  text-decoration: underline;
  font-weight: bolder;
  color: white;
  border-radius: 30px;
  padding-left: 15px;
}