.skills {
  min-height: 800px;
  width: 98%;
  margin-left: 1%;
}

.skillsText {
  width: 500px;
  height: 600px;
  color: white;
  font-size: 20px;
  text-align: left;
  background-color: rgba(104, 104, 104, 0.11);
  border-radius: 10px;
  margin: 50px 100px;
  padding: 15px;
  float: left;
}

.skillsSlider {
  height: 100%;
  margin-top: 50px;
  width: 50%;
}

.skillsImg {
  width: 100px;
  margin: 15px;
}

.skillsSliderTitle {
  margin-bottom: -50px;
  margin-top: 75px;
  font-weight: bold;
}

