.skills {
  min-height: 800px;
  width: 98%;
  margin-left: 1%;
}

.skillsText {
  width: 500px;
  height: 600px;
  color: white;
  font-size: 20px;
  text-align: left;
  background-color: rgba(104, 104, 104, 0.11);
  border-radius: 10px;
  margin: 50px 100px;
  padding: 15px;
  float: left;
}

.skillsSlider {
  height: 100%;
  margin-top: 100px;
}

.skillsImg {
  width: 200px;
  margin: 15px;
}

.skillsSliderTitle {
  font-weight: 900px;
  background-color: red;
}