.App {
  text-align: center;
  background-color: rgb(48, 48, 48);
}

.tabTitle {
  font-size: 40px;
  font-weight: bolder;
  text-align: left;
  margin-left: 50px;
}

.tab {
  background-color: lightblue;
  padding-bottom: 30px;
  border-radius: 20px;
  margin-bottom: 100px;
}

/* navigator */
.navigator {
  width: 150px;
  height: 200px;
  position: fixed;
  background-color: rgb(117, 0, 0);
  right: 0;
  margin: 10px;
}


/* intro */
.intro {
  background-color: rgb(42, 62, 104);
  min-height: 1200px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 50px;
}

.profilePicture {
  width: 40%;
  max-width: 850px;
  float: right;
  margin-right: 100px;
}

.logo {
  width: 50%;
  margin-top: 200px;
}

.logoText {
  width: 40%; 
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -50px;
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(173, 173, 173);
}

.logoText p {
  float: left;
  margin-left: 40px;
  margin-top: -15px;
  border-bottom: solid rgb(157, 226, 238) 3px;
}


/* about me */
.aboutMe {
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  font-size: 20px;
  text-align: left;
}

.aboutMeTextTop {
  width: 70%;
  margin-bottom: 50px;
  margin-left: 5%;
}

.aboutMeTextBottom {
  width: 70%;
  margin-left: 25%;
  margin-right: 5%;
}


.coding {
  height: 1000px;
  width: 98%;
  margin-left: 1%;
}

.codeProjectContainer {
  height: 800px;
  width: 500px;
  background-color: blue;
  border-radius: 50px;
  margin: 0 100px;
  float: left;
}

.modeling {
  height: 1000px;
  width: 98%;
  margin-left: 1%;
}

.skills {
  height: 1000px;
  width: 98%;
  margin-left: 1%;
}

.contact {
  height: 1000px;
  width: 98%;
  margin-left: 1%;
}